@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
html {
  overflow-x: hidden;
  overflow-y: scroll;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  /* display */
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 10px;
  z-index: 20;
  /* size */
  width: 100%;
  height: 50px;
  color: white;
  background-color: rgb(63, 58, 58);
}
nav button{
  background: none;
  border: none;
  color: white;
  padding-right: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap:30px;
  /* size */
    /* padding: 1rem 2rem; */
    padding: 74px 24px 24px 324px;
    transition: all ease .3s;
}

main.expand{
padding-left: 24px;
}

.card-container{
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  flex-basis: 400px;
  justify-content: space-between;
  text-align: justify;
  height: 250px;
  text-align: center;
  padding: 1rem 2rem;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-container >div:not(.li-container){
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(8, 6, 6);
  width: 100%;
}
.li-container{
  color: rgb(255, 255, 255);
  z-index: 1;
}
.card-container p{
  padding: 1rem;
}

.card-background{
transition: all 1.2s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 4px;
    filter: blur(2px);
    
}
.card-background:hover{
  transform: scale(1.2);
}


.card-container label , .card-container input{
margin: .35rem;
display: inline-block;
}
aside{
  position: fixed;
  top: 50px;
  left: 0;
  width: 300px;
  height: 100%;
  background: linear-gradient(180deg, rgb(74, 74, 77), rgb(236, 227, 227));
  text-align: center;
  transition: all ease 0.4s;
}
aside > ul{
  list-style: none;
}
aside.close{
  left: -300px;
}
li> button{
  /* transition: 1s ease-in;
  transform:rotate(360deg) ; */
  border: none;
  background: transparent; 
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 4rem;
  cursor: pointer;
}
li>button:hover{
  transition: .4s ease-in-out;
  color: blueviolet;
}